#shuffle-modal{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 50px;
    padding-bottom: 200px;
}
#shuffle-modal img{
    width: 1000px;
    height: 600px;
}
#opti p{
    font-size: 40px;
    font-weight: bold;
    margin: 5px 0 7px 0;
    text-transform: capitalize;
}
#opti{
    opacity: 0;
    animation-name: changeOpticy;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes changeOpticy {
    from {opacity: 0;}
    to {opacity: 1;}
}